{#{% for x in covenant.loans.organization.statements.all %}#}
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            {{ x.name }}: {{ x.start_period }}-{{ x.end_period }}
            <th>Line Item</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for z in x.data.all %}
            <tr id="{{ z.column_headers }}-line">
                <th id="{{ z.column_headers }}">
                    <div class="checkbox">
                        <label><input type="checkbox" value="{{ z.column_headers }}"> {{ z.column_headers }}</label>
                    </div>
                </th>
                <th id="{{ z.value }}">${{ z.value }}                </th>
            </tr>
        {% endfor %}
{#{% endfor %}#}